/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: "Messapia-Bold";
    src: url("../Messapia-Bold.otf") format("opentype");
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Messapia-Bold", sans-serif;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* END CSS RESET */
  html,
  body {
    margin: 0;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #111;
    font-family: "Messapia-Bold", sans-serif;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 0.85em;
    margin-top: 1rem;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.83em;
  }

  html,
  body {
    background: linear-gradient(
        180deg,
        rgba(197, 209, 239, 1) 0%,
        rgba(198, 209, 237, 1) 24%,
        rgba(199, 211, 237, 1) 35%,
        rgba(222, 225, 217, 1) 48%,
        rgba(235, 235, 202, 1) 58%,
        rgba(235, 236, 202, 1) 63%,
        rgba(236, 226, 203, 1) 76%,
        rgba(237, 220, 203, 1) 79%,
        rgba(239, 204, 204, 1) 86%,
        rgba(238, 204, 204, 1) 89%
      )
      fixed;
  }

  article {
      /* border: 2px solid red; */
      cursor: pointer;
  }

  .main-img {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

  }

  .container {
    position: relative;
    width: 60%;
    height: 50px;
    left: 350px;
  }
  .container .img-description {
    position: absolute;
    margin-bottom: 100px;
    opacity: 0;
    color: #fff;
  }
  .img-description-content {
    padding: 20px;
    color: #fff;
  }
  .img-description-content * {
    color: #fff;
    /*font-family: 'Open Sans', sans-serif;*/
  }
  .container .img-description:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 500ms;
  }

  .container img {
    position: absolute;
    margin-bottom: 100px;
    opacity: 1;
  }
  .photo-grid img {
    visibility: hidden;
  }
  /*Nav Styling*/
  nav {
    width: 300px;
    position: fixed;
    left: 0px;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    /* display: flex;
      flex-direction: column;
      justify-content: space-between; */
    height: 95vh;
  }
  nav h1 {
    line-height: 1.7em;
  }
  nav hr {
    width: 60%;
    margin-top: 1.3em;
    border-color: #333;
    border-style: solid;
    display: none;
  }
  nav ul {
    display: none;
  }
  nav li {
    line-height: 1.5em;
    font-size: 0.65em;
  }
  nav .menu-section {
    padding-bottom: 20px;
  }
  nav .short-bio, nav .details-bio {
    font-size: 0.85rem;
    line-height: 1.4;
    /* padding-right: 50px; */
    /* padding-top:20px; */
    margin-top: 1rem;
    font-family: "Messapia-Bold", sans-serif;
  }

  nav .menu-toggle {
      margin-top: 0.8rem;
  }


  nav img {
    max-width: 200px;
  }

  nav p {
    font-family: "Messapia-Bold", sans-serif;
  }

  /*Link styling for nav*/
  a:link {
    color: #111;
    text-decoration: none;
  }
  a:visited {
    color: #111;
    text-decoration: none;
  }
  a:hover {
    color: #111;
    text-decoration: none;
  }
  a:active {
    color: #111;
  }

  /* Accordion */
  details {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    display: none;
  }

  /*Text post stuff*/
  .container#text-post {
    padding: 0px 10px;
    line-height: 1.25em;
  }
  .text-post-title {
    line-height: 1.5em;
    font-size: 2.3em;
  }
  #text-post p {
    margin-bottom: 20px;
  }
  .container#text-post img {
    max-width: 95%;
    position: inherit;
    margin: 20px 0px;
  }

  .container#text-post figure img {
    margin-bottom: 0px;
    max-width: 100%;
    display: block;
  }
  .container#text-post figure figcaption {
    background-color: #d0d0d0;
    line-height: 2em;
    padding: 10px;
  }
  .container#text-post figure {
    margin-bottom: 20px;
  }

  /*Media queries*/
  @media only screen and (max-width: 619px) {
    nav {
      width: 100%;
      z-index: 1000;
      background-color: #fff;
      height: 30px;
      padding-bottom: 25px;
      margin-bottom: 1rem;
      flex-direction: row;
    }
    nav h1 {
      font-size: 0.7em;
      display: inline;
      font-weight: bold;
    }
    nav img {
      width: 130px;
    }

    nav .menu-toggle {
      font-size: 0.7em;
      display: inline;
      float: right;
      padding-right: 20px;
      font-weight: bold;
      text-decoration: none;
    }
    .container {
      left: 0;
      width: 100%;
      top: 50px;
    }
    .container#text-post {
      width: 95%;
      margin: 0 auto;
    }
    .short-bio,
    nav ul,
    nav hr {
      display: none;
    }
    nav hr {
      width: 100%;
      padding: 0;
      margin: 10px 0px;
    }
  }
  @media only screen and (min-width: 620px) {
    nav {
      width: 30%;
    }
    nav .short-bio,
    nav ul,
    nav hr {
      display: none;
    }
    nav .menu-toggle {
      display: none;
    }
    .container {
      width: 70%;
      left: 30%;
    }
    .container#text-post {
      width: 65%;
    }
    nav h1 {
      font-size: 1.1em;
    }
    nav #open-menu {
      display: none;
    }

    details {
        display: block;
    }
  }
  @media only screen and (min-width: 750px) {
    nav {
      width: 30%;
    }
    .container {
      width: 70%;
      left: 30%;
    }
    nav h1 {
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }

  @media only screen and (min-width: 1000px) {
    .container {
      width: 80%;
      left: 20%;
    }

    nav {
      width: 20%;
      margin-left: 1rem;
    }

    nav h1 {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  @media only screen and (min-width: 1001px) {
    .container {
      width: 60%;
      height: 50px;
      left: 350px;
    }
    .container#text-post {
      width: 60%;
      height: 50px;
      left: 350px;
      max-width: 700px;
      padding-top: 20px;
    }
    nav {
      width: 300px;
      position: fixed;
      left: 0px;
    }
    nav h1 {
      line-height: 1.7em;
    }
    .text-post-title {
      line-height: 1.5em;
      font-size: 2.3em;
    }
  }
