{{ define "main" }}
<div class="container photo-grid">
    {{ range (.Pages.ByParam "param_key") }}
    <article>
        <img class="main-img" src="{{.Params.imgPostUrl}}" loading="lazy" alt="{{.Params.alt}}"><br>
        <div class="img-description">
            <div class="img-description-content">
            </div>
        </div>
    </article>
    {{ end }}
</div>
<script>
    var $images = $('article');

    $images.on('click', function (e) {
        $images.simpleLightbox();
    });
</script>
{{ end }}
